.main {
  position: relative;
}
.swiper {
  cursor: grab;
  padding: 0 20px !important;
  &:active {
    cursor: grabbing;
  }
  @media screen and (min-width: 1024px) {
    padding: 0 !important;
  }
}

.next,
.prev {
  display: none;
  @media screen and (min-width: 1024px) {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
  }
}
.prev {
  right: -60px;
}
.next {
  left: -60px;
  svg {
    transform: rotate(180deg);
  }
}
.disabled {
  display: none;
}
