.data-dots {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  color: #42567a;
}
.navigation {
  display: flex;
  gap: 8px;
  &-prev,
  &-next {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid rgba(66, 86, 122, 0.5);
    background: #fff;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    @media screen and (min-width: 1024px) {
      height: 50px;
      width: 50px;
      svg {
        scale: 2;
      }
    }
  }

  &-next {
    svg {
      transform: rotate(180deg);
    }
  }
}

.control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  @media screen and (min-width: 1024px) {
    gap: 20px;
  }
}
.pages {
  display: flex;
  align-items: center;
  text-align: center;
  &-number {
    width: 2ch;
    font-size: 14px;
    font-weight: 400;
    color: #42567a;
  }

  &-slash {
    width: 1ch;
    font-size: 14px;
    font-weight: 400;
    color: #42567a;
  }
}
.line {
  height: 1px;
  background-color: #c7cdd9;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.date {
  margin: 50px 0;
  @media screen and (min-width: 1024px) {
    margin: 90px 0 130px 0;
  }
}
.info {
  margin: 0 -20px;
  margin-top: 20px;
  overflow: hidden;
  max-height: 115px;

  @media screen and (min-width: 1024px) {
    margin: 0;
    overflow: visible;
    max-height: none;
  }
}
.theme {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  color: #42567a;
  margin-bottom: 16px;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50% !important;
  bottom: auto !important;

  &:global(.pagination) {
    :global {
      .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        background: #42567a;
        opacity: 0.3;
        transition: opacity 0.3s ease, transform 0.3s ease;
        margin: 0 5px !important;

        &-active {
          opacity: 1;
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.footer {
  position: relative;
  width: 100%;
  @media screen and (min-width: 1024px) {
    margin: 0;
    width: fit-content;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
  @media screen and (min-width: 1024px) {
    flex-direction: column-reverse;
    gap: 50px;
  }
}
