.wrapper {
  position: absolute;
  inset: 0;
  transform-origin: center center;
}
.dots {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  &-btn {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    background: #f4f5f9;

    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
    transform-origin: center center;
    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      z-index: -1;
    }
    &_active {
      width: 56px;
      height: 56px;
      border: 1px solid rgba(48, 62, 88, 0.5);
    }
    &_disabled {
      width: 6px;
      height: 6px;
      background-color: #42567a;
    }
    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.3s ease;
      pointer-events: none;

      color: #42567a;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      &_visible {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }
  &-theme {
    position: absolute;
    z-index: 20;
    left: calc(100% + 20px);
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #42567a;
  }
}
